$dark-color:#323233;
$dark-black:#030303;
$dark-white:#E8E8ED;
$light-color:#f2f2f2;
$card-bg:#ffffff;
$blue-color:#0071e3;
$orange-color:#bf4800;

// z-indexes
$searchIndex:100;
$mobileIndex:100;
$overlayIndex:97;
$headerIndex:98;

// responsiive size
$xl-size:1200px;
$lg-size:992px;
$md-size:768px;
$sm-size:580px;
$xsm-size:400px;
