.searchContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 30%;
  margin: 0 auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease-in-out;
  transition-delay: 1s;
  z-index: 100;
  .searchInput {
    transform: translateX(100px);
    display: flex;
    align-items: center;
    height: 45px;
    display: flex;
    justify-content: space-between;
    color: #2b2929;
    padding: 10px;
    opacity: 0;
    transition: all 0.3s ease-in-out;

    img {
      transition: all 1s ease-in-out;
      height: 30px;
      object-fit: cover;
      cursor: pointer;
      opacity: 0;
      transform: translateX(50px);
      &:hover {
        opacity: 1;
      }
      transition-delay: 1s;
      &.inputImage {
        transform: translateX(0);
        opacity: 0.8;
        transition-delay: 1s;
      }
    }
    input {
      color: #202020;
      background: transparent;
      border: none;
      outline: none;
      width: 90%;
      padding: 10px;
      background: transparent;
      opacity: 0;
      transform: translateX(50px);
      transition: all 1s ease-in-out;
      &::placeholder {
        color: #f2f2f2;
        opacity: 0.6;
        font-size: 14px;
        
      }
      &.showInput {
        transition-delay: 1.2s;
        opacity: 1;
        transform: translateX(0);
      }
    }
    .close {
      font-size: 40px;
      cursor: pointer;
      opacity: 0;
      transition: all 1s ease-in-out;
      font-weight: 100;
      transform: translateX(50px);
      &:hover {
        opacity: 1;
      }
      &.showCloseBtn {
        opacity: 0.7;
        transform: translateX(0);
        transition-delay: 1.5s;
      }
    }
    &.showSearchInput {
      opacity: 1;
      transition: all 0.2s ease-in-out;
      transform: translateX(0);
    }
  }
  .QuickLinkConainer {
    color: #323233;
    padding: 1rem 2rem;
    background-color: #f2f2f2;
    border-radius: 0 0 10px 10px;
    .title {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 1rem;
      opacity: 0;
      transform: translateX(100%);
      transition: all 1s ease-in-out;
      border-bottom: 1px solid #323233;
      &.showTitle {
        opacity: 1;
        transform: translateX(0);
      }
    }
    .quickLinks {
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      opacity: 0;
      transform: translateX(200px);
      transition: all 1s ease-in-out;
      &:nth-child(1) {
        transition-delay: 400ms;
      }
      &:nth-child(2) {
        transition-delay: 500ms;
      }
      &:nth-child(3) {
        transition-delay: 600ms;
      }
      &:nth-child(4) {
        transition-delay: 700ms;
      }
      &:nth-child(5) {
        transition-delay: 800ms;
      }
      &:nth-child(6) {
        transition-delay: 900ms;
      }
      a {
        font-size: 14px;
        text-transform: capitalize;
        margin-bottom: 15px;
        color: #323233;
      }
      &.showquickLinks {
        opacity: 1;
        transform: translateX(0);
        &:nth-child(1) {
          transition-delay: 500ms;
        }
        &:nth-child(2) {
          transition-delay: 600ms;
        }
        &:nth-child(3) {
          transition-delay: 700ms;
        }
        &:nth-child(4) {
          transition-delay: 800ms;
        }
        &:nth-child(5) {
          transition-delay: 900ms;
        }
        &:nth-child(6) {
          transition-delay: 1s;
        }
      }
    }
  }
  &.showSearchContainer {
    opacity: 1;
    pointer-events: visible;
    transition: all 0.5s ease-in-out;
  }
}
