@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 40%;
}

.swiper-slide:nth-child(3n) {
  width: 20%;
}
.hero-outline-text {
  /* outline */
  -webkit-text-stroke: 1px #f3f3f3;
  -webkit-text-fill-color: transparent;

  /* fallback */
  color: #333;

  /* for demo purpose */
  font-family: "Roboto", sans-serif;
  /* font-weight: 900; */
}

/*  */